@charset "UTF-8";
button {
  border: 0;
  background-color: #eee;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0; }

a {
  color: #66a9ff;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.kh_schouler_dateien_nav {
  background-color: #eee;
  width: -moz-available;
  margin: 10;
  text-align: center;
  position: fixed;
  border-radius: 10px;
  z-index: 5; }
  .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container {
    width: 90%;
    margin: auto;
    padding: 5px;
    text-align: left; }
    .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container .kh_schouler_dateien_nav_button {
      background-color: #fff;
      border: 1px solid #fff;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 0;
      font-family: arial;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer; }
      .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container .kh_schouler_dateien_nav_button:hover {
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25); }
    .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container span {
      display: inline-block;
      padding: 0 10px;
      color: #aeaeae;
      position: relative;
      top: 6px;
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
    .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container #active {
      -webkit-box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5);
              box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5);
      background-color: #fff;
      color: #66a9ff; }
      .kh_schouler_dateien_nav .kh_schouler_dateien_nav_container #active:hover {
        background-color: #fff;
        color: #66a9ff; }

.kh_schouler_dateien_klassen {
  background-color: none;
  width: 100%;
  position: relative;
  top: 70px;
  z-index: 2; }
  .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container {
    background-color: none;
    padding: 20px;
    width: 90%;
    margin: auto; }
    .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse {
      background-color: #fff;
      border: 1px solid #66a9ff;
      color: #66a9ff;
      width: 200px;
      margin: 10px;
      padding: 60px 0;
      border-radius: 10px;
      text-align: center;
      font-family: arial;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse:hover {
        -webkit-box-shadow: 0px 8px 16px 0px rgba(246, 102, 102, 0.46);
                box-shadow: 0px 8px 16px 0px rgba(246, 102, 102, 0.46);
        background-color: #66a9ff; }
        .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse:hover a {
          color: #fff; }
        .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse:hover .kh_schouler_dateien_klasse_buttons {
          width: 40px; }
      .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse .kh_schouler_dateien_klasse_buttons {
        background-color: #eee;
        position: absolute;
        padding: 10px 0;
        margin-top: -65px;
        margin-left: 201px;
        z-index: 1;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        width: 0;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .kh_schouler_dateien_klassen .kh_schouler_dateien_klassen_container .kh_schouler_dateien_klasse .kh_schouler_dateien_klasse_buttons form {
          float: right;
          clear: both;
          margin: 5px 5px; }

.kh_schouler_dateien_schouler_in_dieser_klasse {
  width: 100%;
  position: relative;
  top: 70px; }
  .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container {
    width: 90%;
    margin: auto;
    padding: 10px; }
    .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler {
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      height: 300px;
      width: 200px;
      background-color: #66a9ff;
      text-align: center;
      float: left;
      margin: 20px;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25); }
      .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler:hover {
        -webkit-box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5);
                box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5); }
      .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_profiel_bild {
        position: relative;
        width: 160px;
        height: 160px;
        background-color: #aeaeae;
        background-size: cover;
        background-position: center;
        margin: 20px auto;
        border-radius: 100%;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25); }
      .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_informationen {
        font-family: arial;
        margin-top: 5px; }
        .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_informationen h5 {
          color: #eee; }
        .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_informationen p {
          margin-top: -5px;
          color: #d8d8d8; }
      .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_buttons {
        width: -moz-max-content;
        margin: auto;
        margin-top: -10px; }
        .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_buttons form {
          float: left;
          margin: 2px 10px; }
          .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_buttons form:hover button {
            background-color: #fff;
            color: #66a9ff; }
          .kh_schouler_dateien_schouler_in_dieser_klasse .kh_schouler_dateien_schouler_container .kh_schouler_dateien_schouler .kh_schouler_dateien_schouler_buttons form button {
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            border: 1px solid #fff;
            width: auto;
            border-radius: 5px;
            padding: 0 15px;
            text-align: center;
            background-color: #66a9ff;
            color: #fff; }

.kh_vsyou_messages {
  width: -moz-max-content;
  height: -moz-max-content;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  overflow: inherit; }
  .kh_vsyou_messages .kh_vsyou_flashing {
    padding: 15px;
    width: -moz-max-content;
    border-radius: -5px;
    font-family: arial;
    color: #eee;
    -webkit-box-shadow: 0px 13px 22px -18px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 13px 22px -18px rgba(0, 0, 0, 0.5);
    webkit-box-shadow: 0px 13px 22px -18px rgba(0, 0, 0, 0.5);
    opacity: 0;
    margin-bottom: 0px; }
    .kh_vsyou_messages .kh_vsyou_flashing:nth-child(1) {
      -webkit-animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1s;
              animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1s; }
    .kh_vsyou_messages .kh_vsyou_flashing:nth-child(2) {
      -webkit-animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 2s;
              animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 2s; }
    .kh_vsyou_messages .kh_vsyou_flashing:nth-child(3) {
      -webkit-animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
              animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 3s; }
    .kh_vsyou_messages .kh_vsyou_flashing:nth-child(4) {
      -webkit-animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 4s;
              animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 4s; }
    .kh_vsyou_messages .kh_vsyou_flashing:nth-child(5) {
      -webkit-animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 5s;
              animation: flashing_msg 5000ms cubic-bezier(0.4, 0, 0.2, 1) 5s; }
  .kh_vsyou_messages .error {
    background-color: #ff4b4b; }
  .kh_vsyou_messages .success {
    background-color: #00c578; }
  .kh_vsyou_messages .msg {
    background-color: #ffaa4b; }

@-webkit-keyframes flashing_msg {
  10% {
    left: 10px;
    opacity: 0.9;
    margin-bottom: 10px; }
  80% {
    left: 10px;
    opacity: 0.9;
    margin-bottom: 10px; } }

@keyframes flashing_msg {
  10% {
    left: 10px;
    opacity: 0.9;
    margin-bottom: 10px; }
  80% {
    left: 10px;
    opacity: 0.9;
    margin-bottom: 10px; } }
dl ol ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 50px; }

.kh_schouler_dateien_add_felder {
  position: relative;
  top: 70px; }
  .kh_schouler_dateien_add_felder .kh_schouler_dateien_add_felder_container {
    padding: 20px;
    text-align: center; }
    .kh_schouler_dateien_add_felder .kh_schouler_dateien_add_felder_container .kh_schouler_dateien_add_form_felder h3 {
      color: #aeaeae;
      font-family: arial; }
    .kh_schouler_dateien_add_felder .kh_schouler_dateien_add_felder_container .kh_schouler_dateien_add_form_felder .kh_schouler_dateien_add_feld {
      margin: 20px 0;
      padding: 10px;
      color: #66a9ff;
      border: 0;
      border-bottom: 1px solid #aeaeae; }

.kh_schouler_dateien_beschreibung {
  position: relative;
  top: 70px;
  width: 100%;
  margin: auto;
  padding: auto; }
  .kh_schouler_dateien_beschreibung .kh_schouler_dateien_beschreibung_container {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px; }
    .kh_schouler_dateien_beschreibung .kh_schouler_dateien_beschreibung_container .kh_schouler_dateien_beschreibung_form {
      text-align: left;
      padding: auto; }
      .kh_schouler_dateien_beschreibung .kh_schouler_dateien_beschreibung_container .kh_schouler_dateien_beschreibung_form .kh_schouler_dateien_beschreibung_textarea {
        margin: 0 0 20px 0;
        text-align: left; }

i {
  text-align: center;
  margin: auto; }

.kh_schouler_dateien_add_taste {
  color: #66a9ff;
  width: 40px;
  height: 40px;
  margin: auto; }

.kh_schouler_dateien_copyright_footer {
  width: 90%;
  position: absolute;
  bottom: 10px;
  left: 5%;
  padding: 5px 0;
  text-align: center;
  background-color: #eee; }
  .kh_schouler_dateien_copyright_footer .kh_schouler_dateien_copyright_footer_text {
    font-size: 15px;
    color: #66a9ff; }

/* alles erstellt von Khalil Khalil */
/* webseite khalilkh.de */
/* Bitte nichts Ändern */

/*# sourceMappingURL=stylesheet.css.map */