<!DOCETYPE html>
<html>
    <head>
        <title>Schouler Dateien Programm</title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="kh_schouler_dateien_nav">
            <ul class="kh_schouler_dateien_nav_container">
                <a href=""><li class="kh_schouler_dateien_nav_button " >khalil1</li></a> <span><i class="material-icons">keyboard_arrow_right</i>   </span>
                <a href=""><li class="kh_schouler_dateien_nav_button">khalil2</li></a> <span><i class="material-icons">keyboard_arrow_right</i>   </span>
                <a href=""><li class="kh_schouler_dateien_nav_button" id="active">khalil3</li></a>
            </ul>
        </nav>
        <!--<header class="kh_schouler_dateien_klassen">
            <div class="kh_schouler_dateien_klassen_container">
                <div class="kh_schouler_dateien_klasse">
                    <a href="">
                            <h2>BVJS</h2>
                    </a>
                    <div class="kh_schouler_dateien_klasse_buttons">
                        <form action="{{ url_for('delete_group', group_id = group.group_id ) }}" method="POST">
                            <button name="_method">
                                <i class="material-icons">mode_edit</i>
                            </button>
                        </form>
                        <form action="{{ url_for('delete_group', group_id = group.group_id ) }}" method="POST">
                            <button name="_method">
                                <i class="material-icons" type="submit">delete_forever</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <header class="kh_schouler_dateien_schouler_in_dieser_klasse">
            <div class="kh_schouler_dateien_schouler_container">
                <div class="kh_schouler_dateien_schouler">
                    <div class="kh_schouler_dateien_schouler_profiel_bild" style="background-image: url(fifa-18-fut_6005829.jpg)"></div>
                    <div class="kh_schouler_dateien_schouler_informationen">
                        <h2>Khalil Khalil</h2>
                        <p><small>01.08.1998</small></p>
                    </div>
                    <div class="kh_schouler_dateien_schouler_buttons">
                        <form action="{{ url_for('delete_group', group_id = group.group_id ) }}" method="POST">
                            <button name="_method">
                                <i class="material-icons">mode_edit</i>
                            </button>
                        </form>
                        <form action="{{ url_for('delete_group', group_id = group.group_id ) }}" method="POST">
                            <button name="_method">
                                <i class="material-icons" type="submit">delete_forever</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <header class="kh_schouler_dateien_add_felder">
            <div class="kh_schouler_dateien_add_felder_container">
                <form action="" class="kh_schouler_dateien_add_form_felder">
                    <input type="text" class="kh_schouler_dateien_add_feld"><br>
                    <button class="kh_schouler_dateien_add_taste"><i class="material-icons" type="submit">add</i></button>
                </form>
            </div>
        </header>-->
        <header class="kh_schouler_dateien_beschreibung">
            <div class="kh_schouler_dateien_beschreibung_container">
                <form action="" method="POST"  class="kh_schouler_dateien_beschreibung_form">
                    <textarea name="beschreibung" id="editor" rows="10" cols="80" class="kh_schouler_dateien_beschreibung_textarea">
                        {{ form.beschreibung.data }}
                    </textarea><br>
                    <button class="kh_vsyou_gostart" type='submit'>
                        <i class="material-icons">add</i>
                    </button>
                </form>
            </div>
        </header>

        <footer class="kh_schouler_dateien_copyright_footer">
            <h3 class="kh_schouler_dateien_copyright_footer_text">
                Copyright &copy; 2018 <a href="http://www.khalilkh.de">Khalilkh.de</a>. Alle Rechte vorbehalten.
            </h3>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>

        </script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
