$primiere_color: #66a9ff
$primiere_color_white: #fff
$primiere_color_background: #eee

button
    border: 0
    background-color: $primiere_color_background
    width: 30px
    height: 30px
    border-radius: 100%
    cursor: pointer
    margin: 0
    padding: 0

a
    color: $primiere_color
    text-decoration: none
    transition: all 300ms ease-in-out
.kh_schouler_dateien_nav
    background-color: $primiere_color_background
    width: -moz-available
    margin: 10
    text-align: center
    position: fixed
    border-radius: 10px
    z-index: 5
    .kh_schouler_dateien_nav_container
        width: 90%
        margin: auto
        padding: 5px
        text-align: left
        .kh_schouler_dateien_nav_button
            background-color: $primiere_color_white
            border: 1px solid $primiere_color_white
            display: inline-block
            padding: 10px 20px
            border-radius: 0
            font-family: arial
            transition: all 300ms ease-in-out
            cursor: pointer
            &:hover
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25)

        span
            display: inline-block
            padding: 0 10px
            color: #aeaeae
            position: relative
            top: 6px
            transform: scale(1.3)
        #active
            box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5)
            background-color: $primiere_color_white
            color: $primiere_color
            &:hover
                background-color: $primiere_color_white
                color: $primiere_color

.kh_schouler_dateien_klassen
    background-color: none
    width: 100%
    position: relative
    top: 70px
    z-index: 2
    .kh_schouler_dateien_klassen_container
        background-color: none
        padding: 20px
        width: 90%
        margin: auto
        .kh_schouler_dateien_klasse
            background-color: $primiere_color_white
            border: 1px solid $primiere_color
            color: $primiere_color
            width: 200px
            margin: 10px
            padding: 60px 0
            border-radius: 10px
            text-align: center
            font-family: arial
            transition: all 300ms ease-in-out
            &:hover
                box-shadow: 0px 8px 16px 0px rgba(246, 102, 102, 0.46)
                background-color: $primiere_color
                a
                    color: $primiere_color_white
                .kh_schouler_dateien_klasse_buttons
                    width: 40px
            .kh_schouler_dateien_klasse_buttons
                background-color: $primiere_color_background
                position: absolute
                padding: 10px 0
                margin-top: -65px
                margin-left: 201px
                z-index: 1
                border-top-right-radius: 10px
                border-bottom-right-radius: 10px
                overflow: hidden
                width: 0
                transition: all 300ms ease-in-out
                form
                    float: right
                    clear: both
                    margin: 5px 5px



.kh_schouler_dateien_schouler_in_dieser_klasse
    width: 100%
    position: relative
    top: 70px
    .kh_schouler_dateien_schouler_container
        width: 90%
        margin: auto
        padding: 10px
        .kh_schouler_dateien_schouler
            transition: all 300ms ease-in-out
            height: 300px
            width: 200px
            background-color: $primiere_color
            text-align: center
            float: left
            margin: 20px
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25)
            &:hover
                box-shadow: 0px 8px 16px 0px rgba(102, 165, 246, 0.5)
            .kh_schouler_dateien_schouler_profiel_bild
                position: relative
                width: 160px
                height: 160px
                background-color: #aeaeae
                background-size: cover
                background-position: center
                margin: 20px auto
                border-radius: 100%
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25)
            .kh_schouler_dateien_schouler_informationen
                font-family: arial
                margin-top: 5px
                h5
                    color: $primiere_color_background
                p
                    margin-top: -5px
                    color: $primiere_color_background - 22
            .kh_schouler_dateien_schouler_buttons
                width: -moz-max-content
                margin: auto
                margin-top: -10px
                form
                    float: left
                    margin: 2px 10px
                    &:hover
                        button
                            background-color: $primiere_color_white
                            color: $primiere_color
                    button
                        transition: all 300ms ease-in-out
                        border: 1px solid $primiere_color_white
                        width: auto
                        border-radius: 5px
                        padding: 0 15px
                        text-align: center
                        background-color: $primiere_color
                        color: $primiere_color_white



// vs_you messages
.kh_vsyou_messages
    width: -moz-max-content
    height: -moz-max-content
    position: fixed
    bottom: 20px
    left: 20px
    z-index: 10
    overflow: inherit
    .kh_vsyou_flashing
        padding: 15px
        width: -moz-max-content
        border-radius: -5px
        font-family: arial
        color: #eee
        box-shadow: 0px 13px 22px -18px rgba(0, 0, 0, 0.5)
        webkit-box-shadow: 0px 13px 22px -18px rgba(0, 0, 0, 0.5)
        opacity: 0
        margin-bottom: 0px
        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation: flashing_msg 5000ms cubic-bezier(0.4, 0.0, 0.2, 1) 1s*$i

    .error
        background-color: #ff4b4b
    .success
        background-color: #00c578
    .msg
        background-color: #ffaa4b


@keyframes flashing_msg
    10%
        left: 10px
        opacity: 0.9
        margin-bottom: 10px
    80%
        left: 10px
        opacity: 0.9
        margin-bottom: 10px



dl
    ol
        ul
            margin-top: 0
            margin-bottom: 1rem
            padding: 0 50px


.kh_schouler_dateien_add_felder
    position: relative
    top: 70px
    .kh_schouler_dateien_add_felder_container
        padding: 20px
        text-align: center
        .kh_schouler_dateien_add_form_felder
            h3
                color: #aeaeae
                font-family: arial
            .kh_schouler_dateien_add_feld
                margin: 20px 0
                padding: 10px
                color: #66a9ff
                border: 0
                border-bottom: 1px solid #aeaeae




.kh_schouler_dateien_beschreibung
    position: relative
    top: 70px
    width: 100%
    margin: auto
    padding: auto
    .kh_schouler_dateien_beschreibung_container
        width: 90%
        text-align: center
        margin: auto
        padding: 20px
        .kh_schouler_dateien_beschreibung_form
            text-align: left
            padding: auto
            .kh_schouler_dateien_beschreibung_textarea
                margin: 0 0 20px 0
                text-align: left

i
    text-align: center
    margin: auto

.kh_schouler_dateien_add_taste
    color: #66a9ff
    width: 40px
    height: 40px
    margin: auto





.kh_schouler_dateien_copyright_footer
    width: 90%
    position: absolute
    bottom: 10px
    left: 5%
    padding: 5px 0
    text-align: center
    background-color: #eee
    .kh_schouler_dateien_copyright_footer_text
        font-size: 15px
        color: $primiere_color
/* alles erstellt von Khalil Khalil */
/* webseite khalilkh.de */
/* Bitte nichts Ändern */