{% extends 'index.html' %}

{% block nav %}
    <span><i class="material-icons">keyboard_arrow_right</i></span> <a href=""><li class="kh_schouler_dateien_nav_button " >Add Klasse</li></a>
{% endblock %}


{% block body %}
        <header class="kh_schouler_dateien_add_felder">
            <div class="kh_schouler_dateien_add_felder_container">
                <h3>Neu Klasse erstellen</h3>
                <form action="" method="POST" class="kh_schouler_dateien_add_form_felder">
                    {% from 'includes/_formhelpers.html' import render_field %}
                    {{ render_field(form.klassenname, placeholder="Klassenname", class_="kh_schouler_dateien_add_feld", maxlength="30") }}<br />

                    <button class="kh_schouler_dateien_add_taste" type='submit' value='Upload'><i class="material-icons">add</i></button>
                </form>
            </div>
        </header>
{% endblock %}