{% extends 'index.html' %}

{% block nav %}
<span><i class="material-icons">keyboard_arrow_right</i></span> <a href="./schouler"><li class="kh_schouler_dateien_nav_button " >{{ session['klassenname'] }}</li></a>
<span><i class="material-icons">keyboard_arrow_right</i></span> <a href="./add_schouler"><li class="kh_schouler_dateien_nav_button " >Add schüler</li></a>
{% endblock %}


{% block body %}
        <header class="kh_schouler_dateien_add_felder">
            <div class="kh_schouler_dateien_add_felder_container">
                <h3>Neu Schuler hinzufügen</h3>
                <form action="" method="POST" enctype='multipart/form-data' class="kh_schouler_dateien_add_form_felder">
                    {% from 'includes/_formhelpers.html' import render_field %}
                    {{ render_field(form.vorname, placeholder="Vorname", class_="kh_schouler_dateien_add_feld", maxlength="30") }}<br />
                    {{ render_field(form.nachname, placeholder="Nachname", class_="kh_schouler_dateien_add_feld", maxlength="30") }}<br />
                    {{ render_field(form.gebortsdatum, placeholder="Gebortsdatum", class_="kh_schouler_dateien_add_feld") }}<br />
                    <input type='file' name='file' class="kh_schouler_dateien_add_feld"/><br />
                    <button class="kh_schouler_dateien_add_taste" type='submit' value='Upload'><i class="material-icons">add</i></button>
                </form>
            </div>
        </header>
{% endblock %}