{% extends 'index.html' %}

{% block nav %}
                <span><i class="material-icons">keyboard_arrow_right</i>   </span> <a href="../{{ session['klasse_id'] }}/schouler"><li class="kh_schouler_dateien_nav_button " >{{ klassenname }}</li></a>
                <span><i class="material-icons">keyboard_arrow_right</i>   </span> <a href=""><li class="kh_schouler_dateien_nav_button " >{{ schouler_daten['vorname'] + ' ' + schouler_daten['nachname'] }}</li></a>
{% endblock %}


{% block body %}
<header class="kh_schouler_dateien_beschreibung">
    <div class="kh_schouler_dateien_beschreibung_container">
        <form action="" method="POST"  class="kh_schouler_dateien_beschreibung_form">
                    <textarea name="beschreibung" id="editor" rows="10" cols="80" class="kh_schouler_dateien_beschreibung_textarea">
                        {{ form.beschreibung.data }}
                    </textarea><br>
            <button class="kh_schouler_dateien_add_taste" type='submit'>
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
</header>
{% endblock %}