<!DOCETYPE html>
<html>
    <head>
        <title>VSYou</title>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.2/classic/ckeditor.js"></script>

    </head>
    <body>
        <nav class="kh_schouler_dateien_nav">
            <ul class="kh_schouler_dateien_nav_container">
                <a href="/"><li class="kh_schouler_dateien_nav_button " >Klassen</li></a>
                {% block nav %}

                {% endblock %}
            </ul>
        </nav>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="kh_vsyou_messages">
        {% for category, message in messages %}
            <div class="kh_vsyou_flashing {{ category }} select_none"><small>{{ message }}</small></div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

{% block body %}
    {# hier sind alle body dateien von die andere Seiten #}
{% endblock %}
        <footer class="kh_schouler_dateien_copyright_footer">
            <h3 class="kh_schouler_dateien_copyright_footer_text">
                Copyright &copy; 2018 <a href="http://www.khalilkh.de">Khalilkh.de</a>. Alle Rechte vorbehalten.
            </h3>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{  url_for('static', filename='javascript.js')  }}"></script>
        <script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

    </body>
</html>
