{% extends 'index.html' %}

{% block body %}
<header class="kh_schouler_dateien_klassen">
            <div class="kh_schouler_dateien_klassen_container">
                {% for klasse in klassen %}
                {% if klasse.wenn_klasse_gelouscht == 'False' %}
                    <div class="kh_schouler_dateien_klasse">
                        <a href="/{{ klasse.klassenname|string + '/' + klasse.klasse_id|string }}/schouler">
                                <h5>{{ klasse.klassenname }}</h5>
                        </a>
                        <div class="kh_schouler_dateien_klasse_buttons">
                            <form action="/edit_klasse/{{ klasse.klasse_id }}" method="POST">
                                <button name="_method">
                                    <i class="material-icons">mode_edit</i>
                                </button>
                            </form>
                            <form action="/louschen_klasse/{{ klasse.klasse_id }}" method="POST">
                                <button name="_method">
                                    <i class="material-icons" type="submit">delete</i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="kh_schouler_dateien_klasse" style="border: 1px solid #f66">
                        <a href="/{{ klasse.klassenname|string + '/' + klasse.klasse_id|string }}/schouler">
                                <h5>{{ klasse.klassenname }}</h5>
                        </a>
                        <div class="kh_schouler_dateien_klasse_buttons">
                            <form action="/wiederherstellen_klasse/{{ klasse.klasse_id }}" method="POST">
                                <button name="_method">
                                    <i class="material-icons">replay</i>
                                </button>
                            </form>
                            <form action="/louschen_klasse_four_immer/{{ klasse.klasse_id }}" method="POST">
                                <button name="_method">
                                    <i class="material-icons" type="submit">delete_forever</i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <a href="/klassen/add_klasse">Klasse hinzuf&uuml;gen</a>
        </header>

{% endblock %}