{% extends 'index.html' %}


{% block nav %}
                <span><i class="material-icons">keyboard_arrow_right</i>   </span> <a href=""><li class="kh_schouler_dateien_nav_button " >{{ klassenname['klassenname'] }}</li></a>
{% endblock %}


{% block body %}
        <header class="kh_schouler_dateien_schouler_in_dieser_klasse">
            <div class="kh_schouler_dateien_schouler_container">
                {% for schouler in schouler %}
                    {% if schouler.wenn_schouler_gelouscht	 == 'False' %}
                        <div class="kh_schouler_dateien_schouler">
                            <div class="kh_schouler_dateien_schouler_profiel_bild" style="background-image: url({{url_for('static', filename='schouler/'+ schouler.schouler_bild ) }})"></div>
                            <div class="kh_schouler_dateien_schouler_informationen">
                                <h5>{{ schouler.vorname + ' ' + schouler.nachname }}</h5>
                                <p><small>{{ schouler.gebortsdatum }}</small></p>
                            </div>
                            <div class="kh_schouler_dateien_schouler_buttons">
                                <form action="schouler/{{ schouler.schouler_id }}">
                                    <button>
                                        <i class="material-icons">mode_edit</i>
                                    </button>
                                </form>
                                <form action="/{{ klassenname['klassenname'] }}/louschen_schouler/{{ schouler.schouler_id|string }}" method="POST">
                                    <button name="_method">
                                        <i class="material-icons" type="submit">delete</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="kh_schouler_dateien_schouler" style="background-color: #f66">
                            <div class="kh_schouler_dateien_schouler_profiel_bild" style="background-image: url({{url_for('static', filename='schouler/'+ schouler.schouler_bild ) }})"></div>
                            <div class="kh_schouler_dateien_schouler_informationen">
                                <h5>{{ schouler.vorname + ' ' + schouler.nachname }}</h5>
                                <p><small>gelöscht</small></p>
                            </div>
                            <div class="kh_schouler_dateien_schouler_buttons">
                                <form action="/{{ klassenname['klassenname'] }}/wiederherstellen_schouler/{{ schouler.schouler_id }}">
                                    <button>
                                        <i class="material-icons">replay</i>
                                    </button>
                                </form>
                                <form action="/{{ klassenname['klassenname'] }}/louschen_schouler_four_immer/{{ schouler.schouler_id }}" method="POST">
                                    <button name="_method">
                                        <i class="material-icons" type="submit">delete_forever</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="../../{{ klassenname['klassenname'] + '/' + klassenname['klasse_id'] }}/add_schouler">Sch&uuml;ler hinzuf&uuml;gen</a>
        </header>
{% endblock %}