{% macro render_field(field) %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="display: inline-block;color: red;position: absolute;margin-left: -272px;margin-top: 63px;"><small>{{ error }}</small></span>
        {% endfor %}
    {% endif %}
{% endmacro %}